.containerblog{
    width: 100%;
    height: auto;
    background-color:rgba(139, 128, 128, 0.2);
}

.code{
    border-radius: 50px;
}

.headingblog{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
}

.iconblo{
    font-size: 50px;
    margin-left: 40px;
    transform: translateY(70px);
}

.headingblog h1{
    font-size: 50px;
}

.headingdet{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 80px;
}

.headingdet h6{
    font-size: 15px;
    padding: 10px;
}

.blogbody{
    padding-left: 20%;
    padding-right: 20%;
}

.process{
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.process li{
    font-size: 30px;
}

.subheading{
    font-size: 40px;
}

.subheaddes{
    padding-bottom: 20px;
}

.section{
    padding-bottom: 10px;
}

@media screen and (max-width:640px){
    .headingblog{
        font-size: 30px;
    }

    .iconblo{
        font-size: 30px;
        margin-left: 20px;
        transform: translateY(50px);
    }

    .process{
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .process li{
        font-size: 20px;
    }

    .headingdet{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 20px;
        padding-bottom: 60px;
    }
    
    .headingdet h6{
        font-size: 13px;
    }

    .blogbody{
        padding-top: 20px;
    }
}