.ProCard{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left:200px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.heading{
    text-align: center;
    font-size: 50px;
}

@media screen and (max-width:640px){
    .ProCard{
        padding-left: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .text-center{
        text-align: center;
    }
    .CardCss{
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .text-center{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1000px){
    .ProCard{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .CardCss{
        padding-top: 5px;
        padding-bottom: 15px;
    }
}