.propic{
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.propic img {
    border-radius: 200px;
}

.social{
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.animation-main-text{
    padding: 20px 20px;
}

.Badges{
    text-align: center;
    display: flex;
    justify-content: center;
}
.headingtext{
    text-align: center;
    font-size:45px;
}

.details{
    padding-left: 50px;
}

@media screen and (max-width:640px){
    .headingtext{
        font-size: 30px;
    }
}